---
layout: compress
--- 

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">
	
	
	
	<center>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- a1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9965606273577507"
     data-ad-slot="2174642279"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	</center>
	
	
	
      <div class="wrapper">
	  

	  
	  
        {{ content }}
		
		
		
		
			  <br>
	  
	  
	  
	<center>  
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- a2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9965606273577507"
     data-ad-slot="3651375474"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	</center>
	  
	  <br>
		
		
		
		
		
		
      </div>
	  
	  
	  
	  
	  
	  
	  
    </div>

	
    {% include footer.html %}
    

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
 {% if site.analytics %}{% include analytics.html %}{% endif %}
  </body>

</html>
