---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-9">
    <div class="post-area post">
      <header>
        <span style="color: rgb(166, 207, 0);">[판매중] </span><h2>{{ page.title }}</h2>

      </header>
      <hr>
      <article> <strong>
	  <p>한번도 뜯지 않은 새제품이고 정품입니다.</p>
	  <p>판매되면 표시할 테니 계속 연락주세요.</p>
	  <p>0１0-3０4６-５3７６</p>
	  <p>(모르는 전화 받지 않으니, 문자 먼저 주세요)</p>
	  <p>상품에 대한 자세한 설명은 아래 내용를 참고해주세요.</p>
	  </strong>
	  <br>
        {{content}}
	<br>
	<strong>
	  <p>한번도 뜯지 않은 새제품이고 정품입니다.</p>
	  <p>판매되면 표시할 테니 계속 연락주세요.</p>
	  <p>0１0-3０4６-５3７６</p>
	  <p>(모르는 전화 받지 않으니, 문자 먼저 주세요)</p>
	  <br>
	  	  <p># 참고사이트</p>
		  <p>- 사기 안심조회 : <a href="https://thecheat.co.kr" target="_blank">https://thecheat.co.kr</a></p>
	  </strong>
	  <br>
	  
	<center>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- a2 -->
	<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9965606273577507"
     data-ad-slot="3651375474"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	</center>
	  
	  </article>
      <hr>
        <div class="bdsharebuttonbox">
            <a href="#" class="bds_more" data-cmd="more"></a>
            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
            <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
            <a href="#" class="bds_fbook" data-cmd="fbook" title="Share to Facebook"></a>
            <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
        </div>
        <script>
            window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
        </script>
    </div>
	{% include comments.html %}
  </div>
  
  <div id="content" class="col-sm-3">
    <!-- <div id="myAffix" class="shadow-bottom-center hidden-xs" data-spy="affix" data-offset-top="0" data-offset-bottom="-20"> -->
    <div id="myAffix" class="shadow-bottom-center hidden-xs" >
      <div class="categories-list-header">
        Content
      </div>
      <div class="content-text"></div>
    </div>
  </div>
  
</div>